<div class="card">
    <div class="card-header card-custome">
           <img src="../../assets/images/arrows.png" class="pull-left" style="background-color: blue; cursor: pointer;" (click)="reset()"/> <span style="text-align: center">Make a Transfer</span> 
        </div> 
    <div class="card-body">

        <div class="form-group">
                
                <div class="input-group">
                <div class="input-group-prepend">
                <label> From Account</label> 
                </div>
                <input placeholder="From Account" class="form-control" type="text" [(ngModel)]="FromValue" disabled/>
                </div>
                </div>
                <div class="form-group">
                <div class="input-group">
                <div class="input-group-prepend">
                                <label> To Account</label> 
                </div>
                <input placeholder="To Account" class="form-control" type="text" [(ngModel)]="toValue" (keyup)="validate()" [disabled]='disableCheck' />
                </div>
                </div>
                <div class="form-group">
                <div class="input-group">                               
                <div class="input-group-prepend">
                        <label> Amount</label> 
                </div>
        
                <input placeholder="Amount" class="form-control" type="number"  [(ngModel)]="amountValue" (keyup)="validate()" [disabled]='disableCheck'/>
                        </div>
                        <span class="warning" *ngIf="amountValue>500">Please Enter Less then 500$ To be transfered</span>
                </div>
                <div class="form-group">
                <div class="row">
                <div class="col-md-12">
                <button *ngIf='!disableCheck' class="btn btn-primary pull-right" type="submit" (click)="preview()" [disabled]="submitCheck">
               Submit
                </button>
                <div *ngIf='disableCheck'>
                                <button class="btn btn-primary pull-left" type="submit" (click)="cancelPreview()">
                                                cancel
                                 </button>
                        <button class="btn btn-primary pull-right" type="submit" (click)="transfer()">
                                Transfer
                                 </button>
                                 
                </div>
                </div>
                </div>
                </div> 
       

</div>  
    
  </div>