.banner{margin-top:0px;border-top: 2px solid green;
    border-bottom: 2px solid green}
	.header-top{background-color:#fff; padding:15px 0px; border-bottom:3px #e95b13 solid; margin-bottom:40px;}
	.logo{width:340px}
	