<div class="card">
  <div class="card-header">
    <img
      src="../../assets/images/briefcase.png"
      class="pull-left"
      style="background-color: blue"
    />
    <span style="text-align: center">Recent Transactions</span>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-5">
        <input
          class="form-control"
          type="text"
          name="search"
          placeholder="Search by typing..."
          [(ngModel)]="searchText"
          (ngModelChange)="searchByName($event)"
        />
      </div>
      <div class="col-sm-7">
        <div class="pull-right">
          Sort by

          <div class="btn-group btn-group-toggle">
            <label class="btn btn-light">
              <a (click)="sortTransactions('date')">Date</a>
              <span
                class="glyphicon glyphicon-arrow-up"
                *ngIf="selectedOrder == 'asc' && selectedType == 'date'"
              ></span>
              <span
                class="glyphicon glyphicon-arrow-down"
                *ngIf="selectedOrder == 'desc' && selectedType == 'date'"
              ></span>
            </label>
            <label class="btn btn-light">
              <a (click)="sortTransactions('beneficiary')">Beneficiary</a>
              <span
                class="glyphicon glyphicon-arrow-up"
                *ngIf="selectedOrder == 'asc' && selectedType == 'beneficiary'"
              ></span>
              <span
                class="glyphicon glyphicon-arrow-down"
                *ngIf="selectedOrder == 'desc' && selectedType == 'beneficiary'"
              ></span>
            </label>
            <label class="btn btn-light">
              <a (click)="sortTransactions('amount')">Amount</a>
              <span
                class="glyphicon glyphicon-arrow-up"
                *ngIf="selectedOrder == 'asc' && selectedType == 'amount'"
              ></span>
              <span
                class="glyphicon glyphicon-arrow-down"
                *ngIf="selectedOrder == 'desc' && selectedType == 'amount'"
              ></span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="result-data">
      <div class="row" *ngFor="let transaction of transactions">
        <div class="col-sm-2">{{ transaction.transactionDate | date }}</div>
        <div class="col-sm-2">
          <img src="{{transaction.merchantLogo}}" height="20" width="20" />
        </div>
        <div class="col-sm-6">
          <strong>{{ transaction.merchant }}</strong> <br /><small>{{
            transaction.transactionType
          }}</small>
        </div>
        <div class="col-sm-2">
          <strong>${{ transaction.amount }}</strong>
        </div>
      </div>
    </div>
  </div>
</div>
